table{
    table-layout: fixed;
    width: 200px;
}

th, td {
    width: 100px;
    word-wrap: break-word;
    text-align: center;
    font-size: 20px;
}
.btn{
    background: black;
    width: 100px;
    height: 40px;
    color: white;
    margin-top: 10px
}
